# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.class
.DS_*
.mvn

cron-queue-core/target/classes/logback.xml
cron-queue-core/target/cron-queue-core-1.0-SNAPSHOT.jar
cron-queue-core/target/generated-sources/
cron-queue-core/target/maven-archiver/
cron-queue-core/target/maven-status/

cron-queue-demo/target/classes/cronQueueConfig.properties
cron-queue-demo/target/cron-queue-demo-1.0-SNAPSHOT.jar
cron-queue-demo/target/generated-sources/
cron-queue-demo/target/maven-archiver/
cron-queue-demo/target/maven-status/

cron-queue-mongo/target/cron-queue-mongo-1.0-SNAPSHOT.jar
cron-queue-mongo/target/generated-sources/
cron-queue-mongo/target/maven-archiver/
cron-queue-mongo/target/maven-status/
spring-cron-queue-mongo/src/test/
spring-cron-queue-mongo/target/classes/META-INF/
spring-cron-queue-mongo/target/generated-sources/
spring-cron-queue-mongo/target/maven-archiver/
spring-cron-queue-mongo/target/maven-status/
spring-cron-queue-mongo/target/spring-cron-queue-mongo-1.0-SNAPSHOT.jar

spring-cron-queue-starter/target/classes/META-INF/
spring-cron-queue-starter/target/generated-sources/
spring-cron-queue-starter/target/maven-archiver/
spring-cron-queue-starter/target/maven-status/
spring-cron-queue-starter/target/spring-cron-queue-starter-1.0-SNAPSHOT.jar

